html {
    background: #779C83  ;
    background: repeating-radial-gradient(45deg, #c9c9c9, blue) 
}
h2{
    color: azure;
    text-align: center;
    margin-top: 150px;
    font-family: sans-serif, arial;
    font-size: 100px;
}
h4{
    margin-top: 50px;
    color: aliceblue;
    text-align: center;
}

.element {
    position: relative;
    top: 40%;
    transform: translateY(-400%);
}
div1{
    background: #9BD6B8;
    text-align:center;
    font-size: 100px;
}
table, th, td {
    color: azure;
}





